<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subtext_title}}</p>


{% schema %}
    {
        "name": "Template 404",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "default": "404",
                "label": "Título 404"
            
            },
            {
                "type": "text",
                "id": "subtext_title",
                "default": "Página não encontrada.",
                "label": "Texto página 404"
            }
        ]
    }
{% endschema %}